Repository ansys/ansys-sphinx-theme, pull requests merged in 2022-07, with the labels that each got.

#85 Change the color of output cell for sphinx-gallery
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug, documentation

#86 Use static description in pyproject.toml
  pyproject.toml
Labels: bug, maintenance

#83 Ship a basic 404 page
  doc/source/conf.py
  doc/source/usage.rst
  requirements/requirements_doc.txt
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/static/404.rst
  src/ansys_sphinx_theme/theme.conf
Labels: documentation, enhancement, dependencies

#88 Remove irrelevant guidelines and reconfigure template doc
  README.rst
  doc/source/404_page.rst
  doc/source/class_documentation.rst
  doc/source/coding_style.rst
  doc/source/css.rst
  doc/source/index.rst
  doc/source/installation.rst
  doc/source/options.rst
  doc/source/style.rst
  doc/source/usage.rst
Labels: documentation
