Repository ansys/ansys-sphinx-theme, pull requests merged in 2022-05, with the labels that each got.

#39 Allow users to show or hide havbar icons
  doc/source/usage.rst
  src/pyansys_sphinx_theme/docs-navbar.html
  src/pyansys_sphinx_theme/icon-links.html
  src/pyansys_sphinx_theme/theme.conf
Labels: documentation, enhancement

#42 disable checking main
  .pre-commit-config.yaml
Labels: maintenance

#43 Fix typos in Readme.rst
  README.rst
Labels: documentation

#45 Feat/latex customization
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
  src/pyansys_sphinx_theme/__init__.py
  src/pyansys_sphinx_theme/latex/__init__.py
  src/pyansys_sphinx_theme/latex/cover.tex
  src/pyansys_sphinx_theme/static/ansys_logo_white.pdf
  src/pyansys_sphinx_theme/static/ansys_logo_white_cropped.pdf
  src/pyansys_sphinx_theme/static/watermark.pdf
Labels: documentation, enhancement, maintenance

#51 Bump 0.3.dev0 version
  src/pyansys_sphinx_theme/__init__.py
Labels: bug

#53 Fix duplicated GH pages deploy
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#54 Bump 0.4.dev0 version
  src/pyansys_sphinx_theme/__init__.py
Labels: maintenance

#56 fix nav-bar text and links
  src/pyansys_sphinx_theme/__init__.py
Labels: bug
