Repository ansys/ansys-sphinx-theme, pull requests merged in 2022-06, with the labels that each got.

#65 add documentation for using coverpage
  doc/source/usage.rst
Labels: documentation

#67 Solving references to PyAnsys
  .github/workflows/label.yml
  README.rst
  doc/source/coding_style.rst
  doc/source/conf.py
  doc/source/usage.rst
  pyproject.toml
  tox.ini
Labels: documentation, maintenance

#80 Modify make.bat file to build pdf with all .tex file
  doc/make.bat
Labels: enhancement
