Repository ansys/ansys-sphinx-theme, pull requests merged in 2022-10, with the labels that each got.

#126 Inline code color changes from pink to black
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#129 Bump 0.7.dev0 version
  src/ansys_sphinx_theme/__init__.py
Labels: enhancement

#134 Modify font and scroll bar
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: maintenance

#137 Add type hint example function
  src/ansys_sphinx_theme/type_hint_example.py
Labels: enhancement

#139 change right toc tree bd position and dark theme config
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/static/css/breadcrumbs.css
Labels: enhancement

#140 version switcher styles and config
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme.conf
Labels: enhancement

#142 Bump version 0.8.dev0
  src/ansys_sphinx_theme/__init__.py
Labels: maintenance
