Repository ansys/ansys-sphinx-theme, pull requests merged in 2022-08, with the labels that each got.

#91 Fix general details: typo, syntax...
  doc/source/404_page.rst
  doc/source/index.rst
  doc/source/options.rst
Labels: documentation

#90 Modify css for better web accessibility
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: enhancement

#92 Fix bold to ``<strong>`` tags
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#94 Fix link for contribution in README
  README.rst
Labels: documentation

#93 Modify font style and size
  .gitignore
  doc/source/installation.rst
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/static/css/breadcrumbs.css
Labels: documentation, enhancement

#97 Fix CNAME in tox.ini
  tox.ini
Labels: bug

#96 Bump 0.6.dev0 version
  src/ansys_sphinx_theme/__init__.py
Labels: enhancement

#104 Adding GH actions dependency update
  .github/dependabot.yml
Labels: maintenance

#106 Implementing vale
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/source/index.rst
  doc/source/options.rst
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Labels: documentation, enhancement, maintenance

#103 Set up doc for Ansys Sphinx theme like PyAnsys libraries
  README.rst
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/installation.rst
  doc/source/options.rst
  doc/source/user_guide/404_page.rst
  doc/source/user_guide/css.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/options.rst
  doc/source/user_guide/pdf.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#116 Modify css for style changes
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: maintenance
