Repository ansys/ansys-sphinx-theme, pull requests merged in 2022-11, with the labels that each got.

#146 Solve broken link issue
  README.rst
Labels: bug

#143 Maintain edit this button style and version switcher
  .pre-commit-config.yaml
  doc/source/conf.py
  requirements/requirements_doc.txt
  src/ansys_sphinx_theme/static/404.rst
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: documentation, maintenance, dependencies

#147 Feat: Customizing 404 page
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/404_page.rst
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/latex/404.html
  src/ansys_sphinx_theme/latex/__init__.py
Labels: documentation, enhancement

#148 Wrong reference in PyPI home page
  .pre-commit-config.yaml
  pyproject.toml
Labels: bug, maintenance

#150 Fix version switcher styling
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#154 Table layout for sphinx gallery
  doc/source/index.rst
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug, documentation

#153 Migrate to pyansys/actions and include get_version_match function
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme.conf
Labels: documentation, enhancement, maintenance

#158 Remove requirements files by updating ``pyproject.toml`` file.
  .github/dependabot.yml
  pyproject.toml
  requirements/requirements_build.txt
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
  tox.ini
Labels: bug, maintenance, dependencies

#162 Maintain the sphinx design
  .gitignore
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: maintenance
