Repository ansys/ansys-sphinx-theme, pull requests merged in 2023-01, with the labels that each got.

#170 Maintain the contrast styling of sphinx gallery code out.
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: maintenance

#179 Solving broken docs
  pyproject.toml
Labels: bug, maintenance

#182 Add the deprecation styles
  doc/source/getting_started/index.rst
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: documentation, maintenance

#155 MAINT: inherit from pydata-sphinx-theme==0.12.0
  .gitignore
  pyproject.toml
  tox.ini
Labels: enhancement, maintenance
