Repository ansys/ansys-sphinx-theme, pull requests merged in 2023-02, with the labels that each got.

#187 Update the styles for new version
  .flake8
  .pre-commit-config.yaml
  README.rst
  doc/source/conf.py
  doc/source/user_guide/index.rst
  src/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/static/css/breadcrumbs.css
Labels: documentation, enhancement, maintenance

#190 FEAT: update theme to latest pydata-sphinx-theme layout
  doc/source/conf.py
  pyproject.toml
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/docs-navbar.html
  src/ansys_sphinx_theme/examples/__init__.py
  src/ansys_sphinx_theme/examples/sample_func.py
  src/ansys_sphinx_theme/examples/samples.py
  src/ansys_sphinx_theme/examples/type_hint_example.py
  src/ansys_sphinx_theme/icon-links.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autosummary/base.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autosummary/class.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/announcement_version.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/breadcrumbs.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/layout.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/404.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/ansys-favicon.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/ansys_logo_black.jpg
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/ansys_logo_black_cropped.jpg
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/ansys_logo_white.pdf
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/ansys_logo_white_cropped.pdf
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/fonts/SourceSansPro-Light.ttf
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/fonts/SourceSansPro-Regular.ttf
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/fonts/SourceSansPro-SemiBold.ttf
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/download_target_blank.js
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys-logo-black-cropped.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys-logo-white-cropped.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_dark.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_dark_square.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_light.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_light_square.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/watermark.pdf
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: documentation, enhancement, maintenance

#193 Update the templates and sphinx version.
  pyproject.toml
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autosummary/class.rst
Labels: bug, maintenance

#198 Accepting semver regex in a better way
  src/ansys_sphinx_theme/__init__.py
Labels: bug

#196 Modify workflow for dev docs deployment.
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#199 Add the default navigation collapse with the theme.
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autosummary/class.rst
Labels: bug

#191 Add examples of extension libraries.
  doc/source/conf.py
  doc/source/examples/images/particle_background.jpg
  doc/source/examples/index.rst
  doc/source/examples/snippet.py
  doc/source/examples/sphinx-design.rst
  doc/source/examples/sphinx_examples/.gitignore
  doc/source/examples/table.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  pyproject.toml
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/table.js
Labels: documentation, enhancement, maintenance, dependencies

#202 Fix : web accessibility.
  .pre-commit-config.yaml
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#200 FEAT: Add Meilisearch in theme.
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/user_guide/options.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/search-field.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/meilisearch.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: documentation, enhancement, maintenance

#207 Docs: Add examples and link for meilisearch.
  doc/source/user_guide/options.rst
Labels: documentation

#208 Fix: The priority of workflow.
  .github/workflows/ci_cd.yml
Labels: maintenance

#209 FEAT: Bump version 0.10.dev0
  src/ansys_sphinx_theme/__init__.py
Labels: enhancement

#210 DOC: use default meilisearch credentials
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/user_guide/options.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/search-field.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: bug, documentation, maintenance

#212 FIX: typing
  src/ansys_sphinx_theme/__init__.py
Labels: bug

#214 FIX : Make the switcher optional
  src/ansys_sphinx_theme/__init__.py
Labels: bug, documentation

#216 FIX: Navigation bar drop down styles.
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#217 DOC : Fix typo
  doc/source/user_guide/options.rst
Labels: documentation

#218 FIX: The search-bar-width
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/search-field.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/meilisearch.css
  tox.ini
Labels: bug, maintenance

#221 FIX : Change the navigation bar style.
  doc/source/conf.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
Labels: bug, documentation

#219 MAINT : Update to latest pyansys/actions
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Labels: documentation, maintenance
