Repository ansys/ansys-sphinx-theme, pull requests merged in 2023-09, with the labels that each got.

#278 feat: add API templates
  .pre-commit-config.yaml
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/index.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/class.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/module.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/property.rst
Labels: documentation, enhancement

#291 feat: bump version 0.12.dev0
  pyproject.toml
  src/ansys_sphinx_theme/__init__.py
Labels: enhancement, maintenance

#292 fix: unicode char for exceptions
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/module.rst
Labels: bug

#293 fix: proper filter of enums
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/module.rst
Labels: bug

#297 fix: try except to handle value error for linkcode extension
  src/ansys_sphinx_theme/extension/linkcode.py
Labels: bug

#299 fix: update the extension if condition
  src/ansys_sphinx_theme/extension/linkcode.py
Labels: bug

#306 fix: styles with sphinx design elements
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: maintenance

#307 ver: bump 0.13.dev0
  pyproject.toml
Labels: enhancement, maintenance

#308 fix : update the js compactible with require.js module loader
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/search-field.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/meilisearch_theme_wrap.js
Labels: enhancement
