Repository ansys/ansys-sphinx-theme, pull requests merged in 2023-04, with the labels that each got.

#231 Update logos to remove the forward slash
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys-logo-black-cropped.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys-logo-white-cropped.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_dark.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_dark_square.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_light.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/pyansys_light_square.png
Labels: enhancement

#232 MAINT: generating wheelhouse (needed for GH release)
  .github/workflows/ci_cd.yml
Labels: maintenance

#235 fix: sphinx version and update footer
  pyproject.toml
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/theme-version.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: bug, maintenance
