Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-06, with the labels that each got.

#401 fix: update the github icon
  doc/changelog.d/401.added.md
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: enhancement

#382 fix: Align cheat sheet center
  doc/changelog.d/382.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#406 fix: reformat the style files
  doc/changelog.d/406.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys-sphinx-theme-variable.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/meilisearch.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-design.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-gallery.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/table-custom.css
Labels: bug

#408 fix: reformat the table styles
  .pre-commit-config.yaml
  doc/changelog.d/408.fixed.md
  doc/source/examples/nbsphinx/jupyter-notebook.ipynb
  doc/source/examples/sphinx-gallery/sphinx-gallery.py
  pyproject.toml
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys-sphinx-theme-variable.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/table-custom.css
Labels: bug, documentation, maintenance, dependencies
