Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-10, with the labels that each got.

#517 fix(ci): update to Ansys actions v8
  .github/workflows/ci_cd.yml
  doc/changelog.d/517.fixed.md
Labels: bug, maintenance

#518 chore: bump version 1.2.dev0
  doc/changelog.d/518.dependencies.md
  pyproject.toml
Labels: maintenance, dependencies

#519 fix: update the token and email of bot for changelog actions
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/519.fixed.md
Labels: bug, maintenance

#521 fix: add version as params in cheatsheet
  doc/changelog.d/521.fixed.md
  doc/source/user-guide/options.rst
  src/ansys_sphinx_theme/__init__.py
Labels: bug, documentation

#524 docs: adding ``title`` in example section
  doc/changelog.d/524.documentation.md
  doc/source/user-guide/options.rst
Labels: documentation

#529 fix: contributors file
  CONTRIBUTORS.md
  doc/changelog.d/529.fixed.md
Labels: bug

#535 chore: add hacktoberfest labels
  .github/labels.yml
  doc/changelog.d/535.maintenance.md
Labels: maintenance

#542 fix: add default `enter` for search
  doc/changelog.d/542.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/fuse_search.js
Labels: bug

#525 fix: static search performance
  doc/changelog.d/525.fixed.md
  doc/source/conf.py
  doc/source/user-guide/options.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys_sphinx_theme/search/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/ast-search-button.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/search-button-field.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ast-search.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/fuse_extension.js
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/fuse_search.js
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/search.js
Labels: bug, documentation

#549 ci: add new labels
  .github/labels.yml
  doc/changelog.d/549.maintenance.md
Labels: maintenance

#554 fix: padding for toctree entry in sidebar
  doc/changelog.d/554.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
Labels: bug

#555 fix: revisit header size
  doc/changelog.d/555.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys-sphinx-theme-variable.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ast-search.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-design.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-gallery.css
Labels: bug, css

#553 doc: allow developer to skip examples build
  doc/changelog.d/553.documentation.md
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

#558 ci: update labeling strategy
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/558.maintenance.md
Labels: maintenance

#560 fix: typos
  .github/labels.yml
  doc/changelog.d/560.miscellaneous.md
Labels: fix

#561 docs: update the landing page
  doc/changelog.d/561.documentation.md
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/getting-started.rst
  doc/source/index.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-design.css
Labels: css, documentation

#563 fix: changelog action
  .github/workflows/ci_cd.yml
Labels: ci, fix

#556 fix: cleanup autoapi templates using macros
  doc/changelog.d/556.miscellaneous.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/class.rst
Labels: fix

#568 fix: change the display of math rendering
  .github/workflows/ci_cd.yml
  doc/changelog.d/568.miscellaneous.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
Labels: css, ci, fix

#541 fix: add more components to the search indexing
  doc/changelog.d/541.documentation.md
  doc/source/conf.py
  doc/source/user-guide/options.rst
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/search/__init__.py
  src/ansys_sphinx_theme/search/fuse_search.py
Labels: fix, documentation

#572 fix: exclude search files
  doc/changelog.d/572.documentation.md
  doc/source/user-guide/options.rst
  src/ansys_sphinx_theme/search/fuse_search.py
Labels: fix, documentation

#577 chore: bump version 1.3.dev0
  doc/changelog.d/577.miscellaneous.md
  pyproject.toml
Labels: fix
