Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-11, with the labels that each got.

#578 fix: CONTRIBUTORS.md
  CONTRIBUTORS.md
  doc/changelog.d/578.miscellaneous.md
Labels: fix

#580 Enable 'show_prev_next' in the documented defaults
  doc/changelog.d/580.documentation.md
  doc/source/user-guide/options.rst
Labels: documentation

#584 fix: enable local page `Search` and default to PyData search on 'Enter'
  doc/changelog.d/584.miscellaneous.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/search-button-field.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ast-search.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/pydata_search.js
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/search.js
Labels: ui/ux, js, css, fix

#586 fix: section ids with search
  doc/changelog.d/586.miscellaneous.md
  src/ansys_sphinx_theme/search/fuse_search.py
Labels: fix
