Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-05, with the labels that each got.

#370 feat: add the changelog action
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/.vale.ini
  doc/changelog.d/370.added.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, enhancement, maintenance, dependencies

#362 feat: add nerd fonts for ``autoapi`` templates icon
  doc/changelog.d/362.added.md
  doc/source/user_guide/autoapi.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/index.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/module.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: documentation, enhancement

#372 feat: add autoapi extension
  doc/changelog.d/372.added.md
  doc/source/getting_started/index.rst
  doc/source/user_guide/autoapi.rst
  pyproject.toml
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/extension/autoapi.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: documentation, enhancement, maintenance, dependencies

#375 maint: update the sphinx-autoapi version
  doc/changelog.d/375.dependencies.md
  pyproject.toml
Labels: maintenance, dependencies

#378 fix: add changelog action in ci-cd
  .github/workflows/ci_cd.yml
  doc/changelog.d/378.fixed.md
Labels: bug, maintenance

#380 docs: update changelog_template.jinja
  doc/changelog.d/380.miscellaneous.md
  doc/changelog.d/changelog_template.jinja
Labels: documentation

#386 chore: version 0.17.dev0
  doc/changelog.d/386.dependencies.md
  pyproject.toml
Labels: maintenance, dependencies

#387 feat: adapt package to general PyAnsys repository layout
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .pre-commit-config.yaml
  AUTHORS
  CONTRIBUTORS.md
  LICENSE
  README.rst
  doc/Makefile
  doc/changelog.d/387.added.md
  doc/make.bat
  doc/source/examples/sphinx-design.rst
  doc/source/examples/table.rst
  doc/source/getting_started/index.rst
  doc/source/user_guide/404_page.rst
  doc/source/user_guide/autoapi.rst
  doc/source/user_guide/css.rst
  doc/source/user_guide/extensions.rst
  doc/source/user_guide/options.rst
  pyproject.toml
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/class.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/module.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: documentation, enhancement, maintenance, dependencies

#388 fix: update the sphinx design style to disable display of name
  doc/changelog.d/388.fixed.md
  doc/source/user_guide/autoapi.rst
  doc/source/user_guide/index.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug, documentation

#393 fix: sphinx design card font size
  doc/changelog.d/393.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#395 fix: wrong env var name for PACKAGE_NAME
  .github/workflows/ci_cd.yml
  doc/changelog.d/395.fixed.md
Labels: bug, maintenance
