Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-02, with the labels that each got.

#341 feat: add default pygment themes friendly (light) and monokai (dark)
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: enhancement

#343 fix: color for topic directive
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#344 feat: update templates for sphinx-autoapi==3.1.0a2
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/class.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/module.rst
Labels: enhancement

#345 chore: Bump version 0.15.dev0
  pyproject.toml
Labels: maintenance, dependencies
