Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-04, with the labels that each got.

#349 fix: SyntaxWarning on import
  src/ansys_sphinx_theme/latex/__init__.py
Labels: maintenance

#347 fix: update templates for sphinx-autoapi==3.1.0a4
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/class.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/module.rst
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/property.rst
Labels: enhancement

#353 maint: update development version to v0.16.dev0
  pyproject.toml
Labels: maintenance, dependencies

#355 fix: add additional dependencies for autoapi templates
  doc/source/getting_started/index.rst
  pyproject.toml
Labels: bug, documentation, maintenance, dependencies

#358 fix: Update ``autoapi`` style to for disabling ``prename`` display.
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
Labels: bug

#363 feat: add autoapi docs usage
  doc/source/user_guide/autoapi.rst
  doc/source/user_guide/index.rst
Labels: documentation, enhancement
