Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-01, with the labels that each got.

#331 fix: search bar fail
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/search.html
Labels: bug

#332 Feat: version update and toctree
  doc/source/user_guide/index.rst
  pyproject.toml
Labels: documentation, enhancement, maintenance, dependencies

#335 fix: downgrade the pydata sphinx theme
  pyproject.toml
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/search.html
Labels: enhancement, maintenance, dependencies

#337 feat: add license header
  .pre-commit-config.yaml
  doc/source/examples/snippet.py
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/examples/__init__.py
  src/ansys_sphinx_theme/examples/sample_func.py
  src/ansys_sphinx_theme/examples/samples.py
  src/ansys_sphinx_theme/examples/type_hint_example.py
  src/ansys_sphinx_theme/extension/__init__.py
  src/ansys_sphinx_theme/extension/linkcode.py
  src/ansys_sphinx_theme/latex/__init__.py
Labels: documentation, enhancement

#339 fix: examples indentation
  doc/source/examples/index.rst
  doc/source/examples/sphinx-design.rst
  tox.ini
Labels: bug, documentation
