Repository ansys/ansys-sphinx-theme, pull requests merged in 2024-07, with the labels that each got.

#409 fix: reformat navigation bar and background
  doc/changelog.d/409.fixed.md
  doc/source/conf.py
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys-sphinx-theme-variable.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/logos/ansys_logo_transparent_black.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/logos/ansys_logo_transparent_white.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/logos/pyansys_logo_transparent_black.png
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/logos/pyansys_logo_transparent_white.png
Labels: bug, documentation

#411 fix: `primary` ,`secondary` sidebars and links
  doc/changelog.d/411.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys-sphinx-theme-variable.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
Labels: bug

#414 docs: Update `mail id` in README.rst
  README.rst
  doc/changelog.d/414.miscellaneous.md
Labels: documentation

#419 fix: update the breadcrumbs
  README.rst
  doc/changelog.d/419.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys-sphinx-theme-variable.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
Labels: bug

#427 fix: sidebar borders and overflow
  doc/changelog.d/427.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
Labels: bug

#425 feat: add default logo and update logo option with theme
  doc/changelog.d/425.added.md
  doc/source/conf.py
  doc/source/links.rst
  doc/source/user-guide/configuration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: documentation, enhancement

#424 fix: admonitions style
  doc/changelog.d/424.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys-sphinx-theme-variable.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
Labels: bug

#431 fix: updated the logo options
  doc/changelog.d/431.fixed.md
  src/ansys_sphinx_theme/__init__.py
Labels: bug
