Repository ansys/ansys-sphinx-theme, pull requests merged in 2025-05, with the labels that each got.

#680 feat: add metatag content
  doc/changelog.d/680.added.md
  src/ansys_sphinx_theme/__init__.py
Labels: enhancement

#686 fix: block snowbalstemmer <3 for now
  doc/changelog.d/686.fixed.md
  pyproject.toml
Labels: fix

#691 feat: small layout adjustments
  doc/changelog.d/691.added.md
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/assets/styles/ansys-sphinx-theme.scss
Labels: enhancement

#693 fix: style for back to top button
  doc/changelog.d/693.fixed.md
  src/ansys_sphinx_theme/assets/styles/ansys-sphinx-theme.scss
  src/ansys_sphinx_theme/assets/styles/pydata-sphinx-theme-custom.scss
Labels: fix

#674 feat: add multi index searching and filtering
  doc/changelog.d/674.added.md
  doc/source/_static/search_filter.png
  doc/source/conf.py
  doc/source/user-guide/options.rst
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/assets/styles/ast-search.scss
  src/ansys_sphinx_theme/search/__init__.py
  src/ansys_sphinx_theme/search/fuse_search.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/ast-search-button.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/components/search_sidebar.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/search.html
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/search-main.js
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/search.js
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: enhancement, ui/ux, js, docs

#707 fix: url for fetch extra source file
  doc/changelog.d/707.fixed.md
  doc/source/conf.py
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/search-main.js
Labels: js, fix

#708 docs: update the multi-index docs
  doc/changelog.d/708.documentation.md
  doc/source/user-guide/options.rst
Labels: fix, docs

#689 fix: smaller screen view and search for mobile views
  doc/changelog.d/689.fixed.md
  src/ansys_sphinx_theme/assets/styles/ansys-sphinx-theme-variable.scss
  src/ansys_sphinx_theme/assets/styles/ast-search.scss
  src/ansys_sphinx_theme/assets/styles/pydata-sphinx-theme-custom.scss
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/js/search.js
Labels: ui/ux, js, fix

#712 chore: bump version 1.6.dev0
  doc/changelog.d/712.maintenance.md
  pyproject.toml
Labels: enhancement

#715 fix: the search title case to sentence case
  doc/changelog.d/715.fixed.md
  doc/source/conf.py
Labels: ci, fix

#717 ci: update the actions to commit hash
  .github/workflows/ci_cd.yml
  doc/changelog.d/717.maintenance.md
Labels: ci
