Repository ansys/ansys-sphinx-theme, pull requests merged in 2025-03, with the labels that each got.

#636 docs: add contribute section
  .github/dependabot.yml
  .gitignore
  CONTRIBUTING.md
  doc/changelog.d/636.documentation.md
  doc/source/conf.py
  doc/source/contribute.rst
  doc/source/contribute/developer.rst
  doc/source/contribute/user.rst
  doc/source/index.rst
  doc/source/links.rst
  pyproject.toml
  tox.ini
Labels: documentation

#638 docs: add contribute page in toctree
  doc/changelog.d/638.documentation.md
  doc/source/index.rst
Labels: docs, documentation

#641 fix: remove flake8 configuration file
  .flake8
  doc/changelog.d/641.miscellaneous.md
  doc/changelog.d/changelog_template.jinja
Labels: fix

#639 feat: migrate the builds system to stb
  .gitignore
  doc/changelog.d/639.maintenance.md
  package.json
  pyproject.toml
  src/ansys_sphinx_theme/assets/scripts/.gitkeep
  src/ansys_sphinx_theme/assets/styles/.gitkeep
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ansys_sphinx_theme.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/ast-search.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/pydata-sphinx-theme-custom.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-gallery.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/theme.conf
Labels: maintenance, css

#642 feat: Add Tox environment for documentation preview
  doc/changelog.d/642.added.md
  doc/source/conf.py
  doc/source/contribute/developer.rst
  package.json
  pyproject.toml
  tox.ini
Labels: enhancement, documentation

#646 fix: improve Logging in Quarto cheatsheet build process
  doc/changelog.d/646.miscellaneous.md
  src/ansys_sphinx_theme/__init__.py
Labels: fix

#644 feat: migrate css to scss
  .github/workflows/ci_cd.yml
  doc/changelog.d/644.added.md
  package.json
  postcss.config.js
  pyproject.toml
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/assets/styles/ansys-sphinx-theme-variable.scss
  src/ansys_sphinx_theme/assets/styles/ansys-sphinx-theme.scss
  src/ansys_sphinx_theme/assets/styles/ast-search.scss
  src/ansys_sphinx_theme/assets/styles/breadcrumbs.scss
  src/ansys_sphinx_theme/assets/styles/nbsphinx.scss
  src/ansys_sphinx_theme/assets/styles/pydata-sphinx-theme-custom.scss
  src/ansys_sphinx_theme/assets/styles/sphinx-design.scss
  src/ansys_sphinx_theme/assets/styles/sphinx-gallery.scss
  src/ansys_sphinx_theme/assets/styles/table-custom.scss
  src/ansys_sphinx_theme/assets/styles/whatsnew.scss
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/.gitignore
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/breadcrumbs.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-design.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/sphinx-gallery.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/table-custom.css
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/static/css/whatsnew.css
Labels: enhancement, css, ci, fix

#654 fix: update the changelog action only for PR
  .github/workflows/ci_cd.yml
  doc/changelog.d/654.fixed.md
Labels: ci, fix

#652 fix: update the style for highlight name function
  doc/changelog.d/652.fixed.md
  src/ansys_sphinx_theme/assets/styles/ansys-sphinx-theme-variable.scss
  src/ansys_sphinx_theme/assets/styles/ast-search.scss
  src/ansys_sphinx_theme/assets/styles/pydata-sphinx-theme-custom.scss
  src/ansys_sphinx_theme/assets/styles/sphinx-gallery.scss
Labels: fix

#655 fix: change logging info to error in quarto build
  doc/changelog.d/655.fixed.md
  src/ansys_sphinx_theme/__init__.py
Labels: fix

#656 refactor: cheatsheet and whatsnew functions into separate modules and implement sidebar ordering
  doc/changelog.d/656.miscellaneous.md
  doc/source/user-guide/options.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys_sphinx_theme/__init__.py
  src/ansys_sphinx_theme/cheatsheet.py
  src/ansys_sphinx_theme/whatsnew.py
Labels: fix, documentation

#658 fix: quarto error logging
  doc/changelog.d/658.fixed.md
  src/ansys_sphinx_theme/cheatsheet.py
Labels: fix

#657 refactor: ansys sphinx theme variables
  doc/changelog.d/657.miscellaneous.md
  src/ansys_sphinx_theme/assets/styles/ansys-sphinx-theme-variable.scss
Labels: enhancement

#661 ci: add github token
  .github/workflows/ci_cd.yml
  doc/changelog.d/661.maintenance.md
Labels: ci

#664 fix: quarto std logging
  doc/changelog.d/664.fixed.md
  src/ansys_sphinx_theme/cheatsheet.py
Labels: fix

#666 fix: autoapi child class template
  doc/changelog.d/666.fixed.md
  src/ansys_sphinx_theme/theme/ansys_sphinx_theme/_templates/autoapi/python/class.rst
Labels: fix
